@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* 320px — 480px: Mobile devices */
/* 481px — 768px: iPads, Tablets */
/* 769px — 1024px: Small screens, laptops */
/* 1025px — 1200px: Desktops, large screens */
/* 1201px and more —  Extra large screens, TV */

/* remove after completion of project */
.buffer{
    height: 1200px;
}

.construction{
    color: #fdedea;
    background-color: #fd5039f8;
    display: flex;
    justify-content: center;
    font-size: 40px;
    transform: translateY(-640px);
    height: 100px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

:root{
    --background-color-1: #131212;
    --background-color-2: #2b2a2a;
    --color-0: #481d03;
    --color-1: #FF6000;
    --color-2: #FFA559;
    --color-3: #FFE6C7;
    --color-4: #801336;
    --color-5: #C72C41;
    --color-6: #EE4540;
    --drop-shadow: #22211f;
    --drop-shadow-2: #22211fb4;
    --font-family-1: "DynaPuff";
    --font-family-2: "IBM Plex Mono";
    --min-navbar-height: 5.625rem;
    /* --min-navbar-height-mobile: 5.625rem; */
}

/* Change scrollbar color */
::-webkit-scrollbar {
    background-color: var(--color-3);
    width: 10px;
}
/* Change scrollbar thumb color */
::-webkit-scrollbar-thumb {
    background-color: var(--color-2);
    border-radius: 10px;
}

  
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color-1);
    font-family: var(--font-family-1);
    cursor: url("../Assets/pointer.svg"), auto;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    cursor: url("../Assets/pointer-2.svg"), auto;
}


.navbar{
    background-color: var(--background-color-2);
    /* background-color: white; */
    position: fixed;
    z-index: 999;
    min-height: var(--min-navbar-height);
    width: 100%;
    border-radius: 0 0 0.938rem 0.938rem;
    box-shadow: 0.313rem 0.313rem 0.313rem var(--drop-shadow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar button{
    background-color: var(--color-2);
    font-family: var(--font-family-1);
    color: var(--color-0);
    border: 0.125rem solid black;
    border-radius: 0.625rem;
    min-width: 7.813rem;
    min-height: 2.813rem;
    font-size: 1.25rem;
    transition: all ease-in 0.2s;
    cursor: pointer;
    box-shadow: 0.313rem 0.313rem 0.313rem var(--drop-shadow);
    cursor: url("../Assets/pointer-2.svg"), auto;
}
.navbar button:hover{
    background-color: var(--color-0);
    color: var(--color-2);
    transform: translate(0.313rem, 0.313rem);
    box-shadow: none;
}

.about-section{
    padding-top: calc(var(--min-navbar-height) + 3rem);
    display: flex;
    min-width: 43.75rem;
    max-height: 25rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 55.25rem;
}


.about-write{
    color: var(--color-2);
    font-size: 1.25rem;
    margin-right: 3rem;
}

.about-write a{
    color: var(--color-2);
}

.about-write h1{
    color: var(--color-3);
    font-size: 1.563rem;
    margin-bottom: 1rem;
}

.about-write p{
    margin-bottom: 0.6rem;
    transition: all ease-in 0.2s;
}
.about-write p:hover{
    color: var(--color-3);
}

.about-image img{
    max-width: 19.375rem;
    max-height: 19.375rem;
    border-radius: 50%;
    border: 0.313rem solid var(--color-3);
    animation: rotate 5s infinite;
}
.about-image img:hover{
    cursor: url("../Assets/pointer.svg"), auto;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.hand{
    top: calc(var(--min-navbar-height) + 17rem);
    z-index: 998;
    position: absolute;
    font-size: 3rem;
    animation: rotate 1.2s infinite;
}

.hand h1{
    text-shadow: 0.313rem 0.313rem 0.313rem var(--drop-shadow-2);;
}

.skills{
    padding-top: calc(var(--min-navbar-height) + 0.5rem);
    align-items: center;
    text-align: center;
    color: var(--color-3);
}

.skills h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skills-panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color-2);
    min-width: 46.875rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.fa-star{
    font-size: 1rem;
    padding: 0;
}

.skills-python{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url("../Assets/pointer-2.svg"), auto;
}
.fa-python{
    font-size: 4.375rem;
}


.skills-html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url("../Assets/pointer-2.svg"), auto;
}
.fa-html5{
    font-size: 4.375rem;
}

.skills-css{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url("../Assets/pointer-2.svg"), auto;
}
.fa-css3-alt{
    font-size: 4.375rem;
}

.skills-js{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url("../Assets/pointer-2.svg"), auto;
}
.fa-square-js{
    font-size: 4.375rem;
}

.skills-react{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url("../Assets/pointer-2.svg"), auto;
}
.fa-react{
    font-size: 4.375rem;
}

.skills-node{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url("../Assets/pointer-2.svg"), auto;
}
.fa-node-js{
    font-size: 4.375rem;
}

.skills-git{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url("../Assets/pointer-2.svg"), auto;
}
.fa-git-alt{
    font-size: 4.375rem;
}

.socials-resume{
    display: flex;
    width: 100%;
}

.resume{
    padding-top: calc(var(--min-navbar-height));
    width: 50%;
}

.resume-panel{
    max-height: 6.25rem;
    display: flex;
    justify-content: space-evenly;
}

.resume h1{
    font-size: 2rem;
    text-align: center;
    color: var(--color-3);
    margin-bottom: 1rem;
}

.resume-download{
    background-color: var(--color-2);
    font-family: var(--font-family-1);
    color: var(--color-0);
    border: 0.125rem solid black;
    border-radius: 0.625rem;
    min-height: 2.813rem;
    font-size: 1.25rem;
    transition: all ease-in 0.2s;
    cursor: pointer;
    box-shadow: 0.313rem 0.313rem 0.313rem var(--drop-shadow);
    min-width: 13.375rem;
    cursor: url("../Assets/pointer-2.svg"), auto;
}

.resume-download:hover{
    background-color: var(--color-0);
    color: var(--color-2);
    transform: translate(0.313rem, 0.313rem);
    box-shadow: none;
}

.socials{
    padding-top: calc(var(--min-navbar-height));
    width: 50%;
}

.socials-panel{
    max-height: 6.25rem;
    display: flex;
    justify-content: space-evenly;
}

.socials-panel a{
    color: var(--color-2);
}

.socials h1{
    font-size: 2rem;
    text-align: center;
    color: var(--color-3);
    margin-bottom: 1rem;
}

.fa-github{
    font-size: 3.125rem;
    opacity: 0.8;
    transition: all ease-in 0.2s;
}
.fa-github:hover{
    opacity: 1;
}

.fa-linkedin{
    font-size: 3.125rem;
    opacity: 0.8;
    transition: all ease-in 0.2s;
}
.fa-linkedin:hover{
    opacity: 1;
}

.fa-instagram{
    font-size: 3.125rem;
    opacity: 0.8;
    transition: all ease-in 0.2s;
}
.fa-instagram:hover{
    opacity: 1;
}
.footer{
    color: var(--color-3);
    font-size: 0.938rem;
    background-color: var(--background-color-2);
    width: 100%;
    min-height: 4.125rem;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--min-navbar-height) + 0.5rem);
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc(var(--min-navbar-height) + 0.5rem);
}


.project-box{
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 95%;
    margin: 1.625rem;
    transform: translateX(300%);
    transition: transform 0.4s ease-in-out;
}

.projects h1{
    font-size: 2rem;
    text-align: center;
    color: var(--color-3);
    margin-bottom: 1rem;
}
.project-box:nth-of-type(even){
    transform: translateX(-300%);
}

.project-box.show{
    transform: translateX(0);
}

.project-info{
    max-width: 28.125rem;
    min-width: 21.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-info h1{
    font-size: 1.25rem;
    color: var(--color-2);
}

.project-info span{
    color: var(--color-2);
}

.project-info p{
    text-align: center;
    font-size: 0.938rem;
    margin-bottom: 0.313rem;
    color: var(--color-3);
    
}

.project-info a{
    text-decoration: none;
    color: var(--color-3);
}

.project-info .fa-github{
    font-size: 1.875rem;
    margin-top: 0.625rem;
}

.project-info .fa-link{
    font-size: 1.875rem;
    margin-top: 0.625rem;
    opacity: 0.8;
    transition: all ease-in 0.2s;
}
.project-info .fa-link:hover{
    opacity:1
}

.project-box img{
    max-width: 19.75rem;
    border-radius: 0.125rem;
    margin-right: 0.625rem;
    transition: all ease-in 0.2s;
    box-shadow: 0.625rem 0.625rem var(--color-2);
}
.project-box img:hover{
    box-shadow: 0.625rem 0.625rem var(--color-1);
}

.project-info .links{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

